/******************************
Header styling
*******************************/
#wrapper {
	background-color: white;
	max-width: 900px;
	margin: auto;
	padding: 5%;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2.7em;
	text-align: center;
	margin: 0 0 0 0;
	padding: 15px 0 10px 0;
	color: black;
	font-family: 'Pacifico', cursive;
}	

h2 {
	text-align: center;
	margin: 0 0 0 20px;
	font-size: 1.5em;
	color: black;
	line-height: 0.2em;
	font-family: 'Pacifico', cursive;
}

header {
	float: left;
	margin: 0 0 0px 0;
	padding: 30px -20px 30px 0px;
	width: 100%;
	background-color: green;	
}

a {
	text-decoration: none;
}


/******************************
nav styling
*******************************/

nav ul {
	text-align: center;	
	line-height: 1em;
	padding: 15px 10px;
	margin: 50px 50px;
	font-family: 'Bangers', cursive;
}

nav li {
	display: inline-block;
}

nav a.navstuff, nav a:hover  {
	color: white;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
	color: #000;
}
nav {
	background-color: #00aa00;
}


/******************************
Ball icon in top left hand corner
*******************************/
.ball {
	width: 40px;
	height: 40px;
	float: left;
	padding: 0 0 0 15px;
}



/******************************
Gallery Stylin'
*******************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #eeeeee
}

#gallery li a p {
	margin: 0 0;
	padding: 5%;
	color: black;
	font-size: 16px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}




/******************************
Footer styling
*******************************/
.icons1 {
	max-width: 100%;
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.icons2 {
	max-width: 100%;
	width: 35px;
	height: 34px;
	margin: -3px 0px;
	padding: 0 5px;
}
 
#foot {
	text-align: center;
	clear: both;
	padding: 30px 0px 0px 0px;
	font-size: 0.7em;
	color: black;
} 



/******************************
About page
*******************************/

#paragraph {
	margin: auto;
	color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: left;
	padding: 10px;
	}

.name {
	color: #fff
}
	h3 {
		font-size: 2em;
	}

.pro {
	width: 200px;
	height: 200px;
	max-width: 100%;
	margin: 0 0 0 80px;
	padding: 10px 0px 0px 0px;
 	display: block;	
 	border-radius: 15%;
}


/******************************
Contact page
*******************************/

.contactInfo {
	margin: auto;
	color: black;
	text-decoration: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding: 10px;
	text-align: left;
}

.contactInfo h3 {
	font-size: 2em;
}

.contact, li  {
	color: #000
}

.phone a, .mail a {
	font-weight: 700;
	padding: 4px 0;
	color: #000;
}

li a.phone, li a:hover {
	color: #000
}
