/****************************
Header styling
****************************/

html,
body {
	height: 100%;
	background-color: #f0f8ff;
}

#michael {
	text-align: center;
	font-size: 3em;
	color: #f0f8ff;
	margin-top: 0px;
	font-family: "Chivo";
}

#wilson {
	text-align: center;
	font-size: 3.4em;
	color: #00bfff;
	margin-top: -45px;
	font-family: "Chivo";
}

h2 {
	text-align: center;
	color: #f0f8ff;
	font-size: 1.5em;
	line-height: 0em;
	padding: 0px 0 15px 0;
	margin-top: -30px;
  font-family: "Chivo";
}

header {
	background-color: #007;	
}

a {
	text-decoration: none;
}

p {
	font-size: 12px;
	font-family: "Fira Sans";
}

h6 {
	text-align: center;
	color: #f0f8ff;
	margin-top: -20px; 
	font-family: "Chivo";
}

/****************************
Nav styling
****************************/

nav ul {
	text-align: center;
	margin-left: -2.4em;
}

nav li {
	display: inline-block;
	font-family: "Fira Sans";
	font-weight: bold;
}

nav a.navpage, nav a:hover {
	color: #00f;
}

nav a{
	color: #000;
}

nav {
	background-color: #00bfff;
	height: 1.3em;
}



/****************************
Main picture styling
****************************/

#main {
	margin: 0;
	padding: 0;
}

#main img {
	width: 100%;
	width: 500px;
	height: 250px;
	display: block;
	margin: 15px auto 0 auto;
}

#main p {
	font-size: 10px;
	color: black;
	text-align: center;
	margin: 0 0 0 0;
}


/****************************
Education
****************************/

#education {
	padding: 0px 10px 0px 10px;
}

#education p {
	font-size: 13px;
}

/****************************
comlumns
****************************/

#columns, li {
	font-size: 12px;
	font-family: "Fira Sans";
}

h4 {
 font-size: 1em;
 padding: 10px;
 text-decoration: none;
 color: white;
 font-weight: bold;
 text-shadow: 0 1px 0 black;
 line-height: 50px; 
 border-right: 30px solid transparent;
 border-bottom: 30px solid #4c4c4c;
 display: inline-block;
 height: 0;
 font-family: "Fira Sans";
 font-weight: bold;
}
.column1 {
	width: 30%;
}

.column1 img {
	display: block;
	margin: 0 auto 0 auto;
	width: 100px;
	border-radius: 25%;
}

.column2 {
	width: 31%;
}

.column2 img {
	display: block;
	margin: 0 auto 0 auto;
	width: 100px;
	border-radius: 50%;
}

.column3 {
	width: 31%;
}

.column3 img {
	display: block;
	margin: 9.7em auto 0 auto;
	width: 100px;
	border-radius: 20%; 
}

.col {
	display: inline-block;
	padding: 12px;
	margin: -10px;
	vertical-align: top;
}

/****************************
footer
****************************/

footer {
	padding: 20px 0 0 5px;
}
