body, html
{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width : 768px) {
  .pro-pic {
    display: none;
  }

  .quote {
  font-size: 30px;
  }
}

@media only screen and (min-width : 768px) {

  .image-box>h2 {
  float: left;
  margin-left: 20px;
  }

.image-box>p {
    color: #bbb;
    float: left;
    margin-left: 20px;
  }

  h1 {
    font-size: 50px;
  }
}

/**************
MOBILE
*************/

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 70px;
    color: #eee;
    margin-top: 0px;
  }

  .banner-p {
    font-size: 20px;
    color: #eee;
  }

  #nav-box {
    width: 100%;
    height: 60px;
  }

  #nav-icon1 {
    cursor: pointer;
    height: 60px;
    float: right;
  }

  #nav-icon1 span {
    display: block;
    position: relative;
    height: 4px;
    width: 70px;
    background: white;
    border-radius: 9px;
    opacity: 1;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
  }
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 20px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 40px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1.open span:nth-child(2) {
    top: 20px;
    width: 25px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 40px;
    width: 10px;
  }

  .dropdown-content>li>a {
    font-size: 30px;
  }

  .pro-pic {
    display: none;
  }

  .banner {
    background-image: url("images/water-mobile.jpg");
  }

  h2 {
    font-size: 50px;
  }

  .mobile {
    display: none;
  }

  h4 {
    font-size: 15px;
    margin-bottom: 30px;
  }

  p {
    padding: 0 40px 0 40px;
  }

  .skills>ul>li {
    margin-left: 100px;
  }

  .skills {
    margin-bottom: 50px;
  }

  .thumbnail {
    margin: 30px;
    padding: 20px;
  }

  .one>img {
    width: 550px;
    height: 300px;
  }

  .thumbnail.two>img {
    width: 650px;
    height: 350px;
  }

  .fa-5x {
    font-size: 13em;
  }

  .quote {
    display: none;
  }

  .quote-name {
    display: none;
  }

  .icons>li {
    margin-right: 60px;
  }
}

