body {
  background-color: #222;
}



/********************
NAVIGATION
********************/

#navigation>ul>li {
  display: inline-block;
  margin: 5px 5% 5px 0%;
}

#navigation>ul>li>a {
  padding: 0px 20px 0px 20px;
  border-right: solid 0px;
  border-radius: 0px 0px 25px 0px;
  text-decoration: none;
  display: block;
  display: inline;
  font-size: 12px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #222;
  opacity: 0.8;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

#navigation>ul>li>a:hover {
  background-color: #222;
  color: white;
  border-color: #222;
}

#navigation {
  margin: 10px 20px 10px 20px;
  background-color: #eee;
  border: solid 0.5%;
  border-radius: 0px 0px 25px 0px;
}

.nav-list {
  height: 30px;
}



/********************
DROP DOWN MENU
********************/

.dropbutton {
  float:right;
  padding: 0px 20px 0px 20px;
  border-right: solid 0px;
  border-radius: 0px 0px 25px 0px;
  text-decoration: none;
  display: block;
  display: inline;
  font-size: 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 3px 20px 5px 20px;
  color: #222;
  opacity: 0.8;
  display: none;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.dropbutton:hover {
  text-decoration: none;
  background-color: #222;
  color: white;
  border-color: #222;
}

.dropbutton:focus {
  text-decoration: none;
  background-color: #eee;
  color: #222;
  border-color: #222;
}

.dropbutton.active {
  text-decoration: none;
  background-color: #222;
  color: #eee;
  border-color: #222;
}

.dropdown-content {
  display: none;
}

.dropdown-content>a {
  margin-top: 28px;
  position: absolute;
  right: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
  color: #222;
  padding: 0px 20px 0px 20px;
}

.dropdown-content>a:hover {
  background-color: #bbb;
  border-radius: 0px 0px 25px 0px;
}


/********************
SLIDER
********************/


#slider {
  width: 360px;
  height: 190px;
  overflow: hidden;
  margin-left: 20px;
}

#slider .slides {
  display: block;
  width: 1500px;
  height: 190px;
  margin-left: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 360px;
  height: 190px;
}

.slide>a>img {
  width: 360px;
  height: 190px;
  opacity: 0.6;
}

/***********************
MAP
***********************/


html, body {
  height: 100%; margin: 0; padding: 0;
}

#map {
  margin: 5px 0px 5px 20px;
  width: 360px;
  height: 300px;
}

#iss-location {
  color: #eee;
  margin: 10px 0px 20px 20px;
}

h3 {
  margin: 50px 0px 0px 20px;
  color: #aaa;
}

#iss-address {
  margin: 0px 0px 0px 20px;
  color: #aaa;
}

#iss-location p {
  color: #eee;
  margin: 5px 0px 0px 0px;
}

/***********************
CONTAINER TEXT & IMAGES
***********************/

html, body, .contain {
    height: 400px;
    padding:0;
    margin:0;
}

.contain {
    min-width: 400px;
    margin-top: 50px;
}

.left {
    float: left;
    width: 450px;
    margin: 0px -450px 0px 0px;
    height:100%;
}

.right {
    margin: 0px 50px 0px 450px;
    background-color: #eee;
    height: 100%;
}


/***********************
CONTAIN INFO - recent work
***********************/

.circle {
  position: relative;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.circle_1 {
  position:relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 10px;
  z-index: 1;
  background-color: #78909C;
  opacity: 0.4;
}

.circle_2 {
  position:relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 40px;
  top: -58px;
  background-color: #9E9E9E;
}

.circle_3 {
  position:relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 85px;
  top: -110px;
  background-color: #B0BEC5;
  opacity: 0.7;
  z-index: 1
}

.circle_4 {
  position:relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 125px;
  top: -175px;
  background-color: #9FA8DA;
}

.circle_5 {
  position:relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 160px;
  top: -230px;
  background-color: #9E9E9E;
  opacity: 0.3;
}




.recent-work>h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  margin-top: -280px;
  position: relative;
  z-index: 2;
  color: #222;
  opacity:0.7;
}

.recent-work>p {
  margin: 40px;
}

/*.recent-work>p {
  margin: 20px 20px 0px 20px;
  border-bottom: 1px solid;
}*/

/*.circle_1, .circle_2, .circle_3 {
  border-radius: 50%;
  width: 100px;
  height: 60px;
  border: 1px solid;
  padding-left: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/


/***********************
MEDIA QUERYS
***********************/

@media (max-width: 850px) {

  .right {
    background-color: #eee;
    margin: 350px 20px 0px 20px;
    background-color: #eee;
    height: 100%;
  }

  .left {
    float: none;
    width: 450px;
    margin-right: 50px;
  }
}

