body {
  background-color: #222;
}



/********************
NAVIGATION
********************/

#navigation>ul>li {
  display: inline-block;
  margin: 5px 5% 5px 0%;
}

#navigation>ul>li>a {
  padding: 0px 20px 0px 20px;
  border-right: solid 2px;
  border-radius: 0px 0px 25px 0px;
  text-decoration: none;
  display: block;
  display: inline;
  font-size: 12px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #222;
  opacity: 0.8;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

#navigation>ul>li>a:hover {
  background-color: #222;
  color: white;
  border-color: #222;
}

#navigation {
  margin: 10px 20px 10px 20px;
  background-color: #eee;
  border: solid 0.5%;
  border-radius: 0px 0px 25px 0px;
}

.nav-list {
  height: 30px;
}



/********************
DROP DOWN MENU
********************/

.dropbutton {
  float:right;
  padding: 0px 20px 0px 20px;
  border-right: solid 2px;
  border-radius: 0px 0px 25px 0px;
  text-decoration: none;
  display: block;
  display: inline;
  font-size: 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 3px 20px 5px 20px;
  color: #222;
  opacity: 0.8;
  display: none;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.dropbutton:hover {
  text-decoration: none;
  background-color: #222;
  color: white;
  border-color: #222;
}

.dropbutton:focus {
  text-decoration: none;
  background-color: #eee;
  color: #222;
  border-color: #222;
}

.dropbutton.active {
  text-decoration: none;
  background-color: #222;
  color: #eee;
  border-color: #222;
}

.dropdown-content {
  display: none;
}

.dropdown-content>a {
  margin-top: 28px;
  position: fixed;
  right: 38px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
  color: #222;
  padding: 0px 20px 0px 20px;
}

.dropdown-content>a:hover {
  background-color: #bbb;
  border-radius: 0px 0px 25px 0px;
}


/********************
SLIDER
********************/


#slider {
  width: 350px;
  height: 180px;
  overflow: hidden;
  margin-left: 20px;
}

#slider .slides {
  display: block;
  width: 1400px;
  height: 180px;
  margin-left: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 350px;
  height: 180px;
}

.slide>a>img {
  width: 350px;
  height: 180px;
  opacity: 0.6;
}

/***********************
MAP
***********************/


html, body {
  height: 100%; margin: 0; padding: 0;
}

#map {
  margin: 20px 0px 0px 20px;
  width: 350px;
  height: 350px;
}

#iss-location {
  color: #eee;
  margin: 10px 0px 0px 20px;
}

h3 {
  margin: 20px 0px 0px 20px;
  color: #aaa;
}

#iss-address {
  margin: 20px 0px 0px 20px;
  color: #aaa;
}
















