body, html {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

p, li, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

/**********************
navigation/banner
**********************/

.banner {
  background-image: url("images/rocks_small.jpg");
  min-height: 555px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navigation {
  padding: 40px;
}

.nav-list {
  list-style-type: none;
  margin-top: -30px;

}

.nav-list>li>a {
  font-size: 17px;
  display: inline-block;
  float: right;
  margin: 0px 30px 0px 0px;
  color: white;
}

.nav-list>li>a:hover {
  text-decoration: none;
  color: #999;
}

.fa.fa-chevron-down.fa-4x {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.fa.fa-chevron-down.fa-4x:hover {
  color: #fff;
}

.chevron_box {
  margin-top: 50px;
  text-align: center;
}

.dropdown-content {
  position: relative;
  width: 80%;
  left: 10px;
  display: none;
}

.dropdown-content>li {
  list-style-type: none;
  padding-top: 10px;
  border-bottom: solid 1px;
  border-bottom-color: white;
  margin-bottom: 5px;


}

.dropdown-content>li>a {
  font-size: 17px;
  color: white;
  margin-left: 20px;
}

.dropdown-content>li>a:hover {
  text-decoration: none;
}

.dropdown-content>li>a:visited {
  text-decoration: none;
}

#nav-box {
  width: 100%;
  height: 40px;
}

#nav-icon1 {
  cursor: pointer;
  height: 40px;
  float: right;
}

#nav-icon1 span {
  display: block;
  position: relative;
  height: 3px;
  width: 40px;
  background: white;
  border-radius: 9px;
  opacity: 1;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 0px;
}

#nav-icon1.open span:nth-child(2) {
  top: 10px;
  width: 25px;
}

#nav-icon1.open span:nth-child(3) {
  top: 20px;
  width: 10px;
}



/******************
header inside banner
******************/

h1, .banner-p {
  text-align: center;
  font-weight: bold;
  color: black;

}





/******************
about me
******************/

.top-breakpoints_1 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: -10px;
}

.image-box {
  margin: 50px auto 30px auto;
  height: 100px;
  width: 430px;
}

.image-box>h2 {
  float: left;
  margin-left: 50px;

}

.image-box>p {
  color: #bbb;
  float: left;
  margin-left: 50px;
}

.pro-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  box-shadow: 2px 1px 1px #aaa;
}

.skills {
}

.skills>ul {
  margin-left: -20px;
  list-style-type: circle;
}

.skills>ul>h4 {
  color: #bbb;
}

.profile {
}

.profile>h4 {
  color: #bbb;
  margin-left: 15px;
}

.col-sm-6 {
  padding: 0px 60px 30px 60px;
  border-right: 1px solid #ddd;
  margin-bottom: 20px;
}



/******************
projects
******************/

.top-breakpoints_2 {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.thumbnail {
  margin: 0;
}

.col-sm-6.col-md-4 {
  border-right: 0px;
  margin: 30px 0 30px 0;
  padding-bottom: 0px;
}






/******************
breakpoints
******************/




.non-scrolling-background {
    background-image: url("images/office.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-breakpoints_2 {
  width: 100%;
  height:200px;
  background-color: #fff;
}

.profile {
}


/******************
social icons
******************/

.icons {
  position: relative;
  text-align: center;
}

.icons>li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}

.icons>li>a:hover {
  color: #999;
}

.icons>li>a {
  text-decoration: none;
  color: black;
}

/******************
footer
******************/

.foot {
  text-align: center;
  color: #999;
}