html{
  background-image:url("double-v.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.keys{
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: 90px;
  display: inline-block;
  position: relative;
}

kbd{
  font-size: 50px;
  display: block;
}

.key{
  font-family: "BAT MEN__G";
  display: inline-block;
  border: 2px solid;
  background-color: rgba(255,255,255,0.7);
  width: 120px;
  height: 120px;
  float: left;
  margin: 10px;
  text-align: center;
}

.clock{
  float: right;
  position: relative;
  right: 0;
  width: 150px;
  height: 150px;
  background-color: yellow;
  z-index: 10;
  border: 1px solid;
  border-color: yellow;
  border-radius: 100%;
}

.minutes{
  display: block;
  height: 2px;
  background-color: black;
  width: 50%;
  position: relative;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: linear;
}

.seconds{
  display: block;
  height: 1px;
  background-color: black;
  width: 50%;
  position: relative;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(1,-0.08, 0, 3.19);
}

.hours{
  display: block;
  height: 2px;
  background-color: black;
  width: 50%;
  position: relative;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: linear;
}