body {
  background-color: #222;
}



/********************
NAVIGATION
********************/

#navigation>ul>li {
  display: inline-block;
  font-size: 12px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: black;
  padding: 0px 20px 0px 20px;
  margin: 1% 5% 1% 0%;
  border-right: solid 2px;
  border-radius: 35px 5px;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

#navigation>ul>li:hover {
  background-color: #222;
  border-color: black;
}

#navigation>ul>li>a:hover {
  color: white;
}

#navigation>ul>li>a {
  text-decoration: none;
  color: black;
}

#navigation {
  margin: 5px 20px 5px 20px;
  background-color: #eee;
  border: solid 0.5%;
  border-radius: 35px 5px;
}
